singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "singularity/containers"
singularity.runOptions = "--bind /var/lib:/var/lib"
executor.jobName = { "$task.tag" }

profiles {
    standard {
	        process.executor = "local"
    }
    cluster {
		singularity.runOptions = "$singularity.runOptions --bind /Volumes:/Volumes"
        process.executor= "pbs"
        process.clusterOptions= "-V"
    }
	gpu {
		singularity.runOptions = "$singularity.runOptions --nv"
		singularity_container = "library://michelebortol/resolve_tools/toolbox:gpu"
	}
	cpu {
		singularity_container = "library://michelebortol/resolve_tools/toolbox:latest"
	}
}
