  1 big-fish==0.6.2                                                                                                         
  2 ipykernel                                                                                                               
  3 matplotlib==3.10.1                                                                                                      
  4 numpy==2.2.4                                                                                                            
  5 pandas==2.2.3                                                                                                           
  6 scikit-image==0.25.2                                                                                                    
  7 scipy==1.15.2                                                                                                           
  8 seaborn==0.13.2                                                                                                         
  9 tifffile==2025.3.30  
